# Imports

In [1]:
import pandas as pd
import numpy as np

# Load dataframes
We need to load csv files as dataframes for all of the months and then combine them all into one dataframe

In [2]:
jan = pd.read_csv("2024_JAN.csv")
feb = pd.read_csv("2024_FEB.csv")
mar = pd.read_csv("2024_MAR.csv")
apr = pd.read_csv("2024_APRIL.csv")
may = pd.read_csv("2024_MAY.csv")
jun = pd.read_csv("2024_JUN.csv")
jul = pd.read_csv("2024_JUL.csv")
aug = pd.read_csv("2024_AUG.csv")
sep = pd.read_csv("2024_SEP.csv")
oct = pd.read_csv("2024_OCT.csv")
nov = pd.read_csv("2024_NOV.csv")
dec = pd.read_csv("2024_DEC.csv")

# Combine into one dataframa

df = pd.concat(
    [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec],
    ignore_index=True
)
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2024,1,1,1,1,19393,10140,1014005,"Albuquerque, NM",10423,...,0.0,NaN,95.0,103.0,619.0,7.0,0.0,8.0,0.0,0.0
1,2024,1,1,1,1,19393,10140,1014005,"Albuquerque, NM",10423,...,0.0,NaN,100.0,106.0,619.0,NaN,NaN,NaN,NaN,NaN
2,2024,1,1,1,1,19393,10140,1014005,"Albuquerque, NM",10800,...,0.0,NaN,130.0,110.0,672.0,NaN,NaN,NaN,NaN,NaN
3,2024,1,1,1,1,19393,10140,1014005,"Albuquerque, NM",10821,...,0.0,NaN,215.0,216.0,1670.0,14.0,0.0,1.0,0.0,0.0
4,2024,1,1,1,1,19393,10140,1014005,"Albuquerque, NM",11259,...,0.0,NaN,105.0,98.0,580.0,NaN,NaN,NaN,NaN,NaN

Create a new csv file for the full year data

In [3]:
df.to_csv("2024_FULL_YEAR.csv", index=False)